<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891939526132-rv06rqi25236m5llaiorgncug0ve54v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891939526132-rv06rqi25236m5llaiorgncug0ve54v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBFi9roxyhW8kzQhyXQRKIEiEjnRJaxMCI</string>
	<key>GCM_SENDER_ID</key>
	<string>891939526132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developers.CountriesTask</string>
	<key>PROJECT_ID</key>
	<string>loginregistertask-c1e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregistertask-c1e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:891939526132:ios:45ccdbc59f08f6ee</string>
	<key>DATABASE_URL</key>
	<string>https://loginregistertask-c1e1d.firebaseio.com</string>
</dict>
</plist>
